<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="budgets" href="/tabs/budgets">
      <ion-icon aria-hidden="true" name="pencil"></ion-icon>
      <ion-label>Create budgets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budgets_list" href="/tabs/budgets_list">
      <ion-icon aria-hidden="true" name="clipboard"></ion-icon>
      <ion-label>List budgets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="options" href="/tabs/options">
      <ion-icon aria-hidden="true" name="options"></ion-icon>
      <ion-label>Option</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
